<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css" >
    <title>A Data Story</title>
</head>
    <body>
    <section class="section">
        <h1 class="title">
            A Data Story ... About Tennis!
        </h1>
        <h2 class = 'subtitle'>
            This story is all about exploring tennis by looking at data first.  
        </h2>
    </section>
    <section class="section">
        <div class= "box">
            The first story we have to tell is about countries strength in the WTA over the years.
            You can check it out by pressing the button below. 
        </div> 
        <a class="button" href="{{ url_for('WTAcountries')}}">Which country rules the WTA?</a>
    </section>

    </body>
</html>